.name {
    font-size: 24px;
}
.pronunciation {
    font-size: 14px;
    font-style: italic;
}
.noun {
    font-weight: bolder;
}
.description {
    font-weight: 100;
}
.badges{
    padding: 20px;
}

.linkedin-link {
    display: inline-flex;
    align-items: center;
  }
  
  .linkedin-pointer {
    max-height: 10px;
  }